@using Sales.Helper;
<!--begin::Primary menu-->
<div id="kt_app_aside_menu" class="menu menu-sub-indention menu-rounded menu-column fw-semibold fs-6 px-2" data-kt-menu="true">
	<!--begin:Menu item-->
	<div class="menu-item">
		<!--begin:Menu link-->
		<a href="/Home" class="@Html.IsSelected(actions: "index", controllers: "home")">
			<span class="menu-icon">
				<i class="ki-outline ki-home-2 fs-2"></i>
			</span>
			<span class="menu-title">الرئيسية</span>
		</a>
		<!--end:Menu link-->
	</div>
	<!--end:Menu item-->
	<!--begin:Menu item - التعليم (الصفوف والطلاب)-->
	<div data-kt-menu-trigger="click" class="@(Html.IsShow(controllers: "class,student") == "education" ? "menu-item here show menu-accordion" : "menu-item menu-accordion")">
		<!--begin:Menu link-->
		<span class="menu-link">
			<span class="menu-icon">
				<i class="ki-duotone ki-teacher fs-1">
					<span class="path1"></span>
					<span class="path2"></span>
				</i>
			</span>
			<span class="menu-title">البيانات الاساسية</span>
			<span class="menu-arrow"></span>
		</span>
		<!--end:Menu link-->
		<!--begin:Menu sub-->
		<div class="menu-sub menu-sub-accordion">
			<!--begin:Menu item-->
			<div class="menu-item">
				<!--begin:Menu link-->
				<a class="@Html.IsSelected(actions: "index", controllers: "class")" asp-controller="Class" asp-action="Index">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">الصفوف والفصول</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item">
				<!--begin:Menu link-->
				<a class="@Html.IsSelected(actions: "index", controllers: "student")" asp-controller="Student" asp-action="Index">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">الطلاب</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu sub-->
	</div>
	<!--end:Menu item-->
	<!--begin:Menu item-->
	<div data-kt-menu-trigger="click" class="@(Html.IsShow(controllers: "product_category,product_unit,product_title") == "product" ? "menu-item here show menu-accordion" : "menu-item menu-accordion")">
		<!--begin:Menu link-->
	
		<!--end:Menu link-->
		<!--begin:Menu sub-->
		<div class="menu-sub menu-sub-accordion">
			<!--begin:Menu item-->
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<!--begin:Menu item-->
				<div class="menu-item">
					<!--begin:Menu link-->
					<a class="@Html.IsSelected(actions: "index", controllers: "product_category")" asp-controller="Product_Category" asp-action="Index">
						<span class="menu-bullet">
							<span class="bullet bullet-dot"></span>
						</span>
						<span class="menu-title">الفئات</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu sub-->
	</div>
	<!--end:Menu item-->

	<!--begin:Menu item - التقارير-->
	<div data-kt-menu-trigger="click" class="@(Html.IsShow(controllers: "reports") == "reports" ? "menu-item here show menu-accordion" : "menu-item menu-accordion")">
		<!--begin:Menu link-->
		<span class="menu-link">
			<span class="menu-icon">
				<i class="ki-duotone ki-chart fs-1">
					<span class="path1"></span>
					<span class="path2"></span>
				</i>
			</span>
			<span class="menu-title">التقارير</span>
			<span class="menu-arrow"></span>
		</span>
		<!--end:Menu link-->
		<!--begin:Menu sub-->
		<div class="menu-sub menu-sub-accordion">
			<!--begin:Menu item - الرئيسية-->
			<div class="menu-item">
				<a class="@Html.IsSelected(actions: "Reports", controllers: "Home")" asp-controller="Home" asp-action="Reports">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">جميع التقارير</span>
				</a>
			</div>
			<!--end:Menu item-->

			<div class="menu-inner flex-column collapse">
				<div class="menu-item">
					<div class="menu-content">
						<span class="menu-section text-muted text-uppercase fs-8 ls-1">تقارير يومية</span>
					</div>
				</div>
			</div>

			<!--begin:Menu item - الغياب اليومي-->
			<div class="menu-item">
				<a class="@Html.IsSelected(actions: "DailyAbsence", controllers: "Reports")" asp-controller="Reports" asp-action="DailyAbsence">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">الغياب اليومي</span>
				</a>
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item - التأخر اليومي-->
			<div class="menu-item">
				<a class="@Html.IsSelected(actions: "DailyLate", controllers: "Reports")" asp-controller="Reports" asp-action="DailyLate">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">التأخر اليومي</span>
				</a>
			</div>
			<!--end:Menu item-->

			<div class="menu-inner flex-column collapse">
				<div class="menu-item">
					<div class="menu-content">
						<span class="menu-section text-muted text-uppercase fs-8 ls-1">تقارير الطلاب</span>
					</div>
				</div>
			</div>

			<!--begin:Menu item - تقرير طالب محدد-->
			<div class="menu-item">
				<a class="@Html.IsSelected(actions: "StudentReport", controllers: "Reports")" asp-controller="Reports" asp-action="StudentReport">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">تقرير طالب معين</span>
				</a>
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item - أكثر الطلاب غيابًا-->
			<div class="menu-item">
				<a class="@Html.IsSelected(actions: "MostAbsentStudents", controllers: "Reports")" asp-controller="Reports" asp-action="MostAbsentStudents">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">أكثر الطلاب غيابًا</span>
				</a>
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item - أكثر الطلاب تأخرًا-->
			<div class="menu-item">
				<a class="@Html.IsSelected(actions: "MostLateStudents", controllers: "Reports")" asp-controller="Reports" asp-action="MostLateStudents">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">أكثر الطلاب تأخرًا</span>
				</a>
			</div>
		
			
			<!--begin:Menu item - أكثر الطلاب تأخرًا-->
			<div class="menu-item">
				<a class="@Html.IsSelected(actions: "MostDisciplinedStudents", controllers: "Reports")" asp-controller="Reports" asp-action="MostDisciplinedStudents">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">الطلاب الأكثر انضباطاً</span>


				</a>
			</div>
		
			<!--begin:Menu item - أكثر الطلاب تأخرًا-->
			<div class="menu-item">
				<a class="@Html.IsSelected(actions: "MostDisciplinedClasses", controllers: "Reports")" asp-controller="Reports" asp-action="MostDisciplinedClasses">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>				
					<span class="menu-title">الفصول الأكثر انضباطاً</span>

				</a>
			</div>
		

			<!--end:Menu item-->

			<div class="menu-inner flex-column collapse">
				<div class="menu-item">
					<div class="menu-content">
						<span class="menu-section text-muted text-uppercase fs-8 ls-1">تقارير متقدمة</span>
					</div>
				</div>
			</div>

			<!--begin:Menu item - التأخر حسب اليوم-->
			<div class="menu-item">
				<a class="@Html.IsSelected(actions: "WeeklyLatePatternReport", controllers: "Reports")" asp-controller="Reports" asp-action="WeeklyLatePatternReport">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">التأخر حسب يوم الأسبوع</span>
				</a>
			</div>

			<div class="menu-item">
				<a class="@Html.IsSelected(actions: "WeeklyAbsentPatternReport", controllers: "Reports")" asp-controller="Reports" asp-action="WeeklyAbsentPatternReport">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">الغياب حسب يوم الأسبوع</span>
				</a>
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu sub-->
	</div>
	<!--end:Menu item - التقارير-->
	
	<!--begin:Menu item - الإعدادات-->
	<div data-kt-menu-trigger="click" class="@(Html.IsShow(controllers: "users,schoolsettings") == "setting" ? "menu-item here show menu-accordion" : "menu-item menu-accordion")">
		<!--begin:Menu link-->
		<span class="menu-link">
			<span class="menu-icon">
				<i class="ki-duotone ki-setting fs-1">
					<span class="path1"></span>
					<span class="path2"></span>
				</i>
			</span>
			<span class="menu-title">الإعدادات</span>
			<span class="menu-arrow"></span>
		</span>
		<!--end:Menu link-->
		<!--begin:Menu sub-->
		<div class="menu-sub menu-sub-accordion">
			<!--begin:Menu item-->
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<!--begin:Menu item-->
				<div class="menu-item">
					<!--begin:Menu link-->
					<a class="@Html.IsSelected(actions: "index", controllers: "users")" asp-controller="Users" asp-action="Index">
						<span class="menu-bullet">
							<span class="bullet bullet-dot"></span>
						</span>
						<span class="menu-title">المستخدمين</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
				<!--begin:Menu item - موعد الحضور اليومي-->
				<div class="menu-item">
					<!--begin:Menu link-->
					<a class="@Html.IsSelected(actions: "index", controllers: "schoolsettings")" asp-controller="SchoolSettings" asp-action="Index">
						<span class="menu-bullet">
							<span class="bullet bullet-dot"></span>
						</span>
						<span class="menu-title">موعد الحضور اليومي</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu sub-->
	</div>
	<!--end:Menu item-->
</div>
<!--end::Primary menu-->